<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='icon' href="<%= baseUrl %>images/download (3).png" />
    <link rel='stylesheet' href='<%=baseUrl%>stylesheets/style.css' />
    <link href="<%=baseUrl%>vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=baseUrl%>vendor/metisMenu/metisMenu.min.css" rel="stylesheet"> 
    <link href="<%=baseUrl%>dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="<%=baseUrl%>vendor/morrisjs/morris.css" rel="stylesheet">
    <link href="<%=baseUrl%>vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  </head>
  <body> 
    <%- include('navbar') %>
<div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="login-panel panel panel-default" style="margin-top:15% !important;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Your Datas</h3>
                    </div>
                    <p class="text-center">
                        <% if(locals.success){ %>
                            user details successfully saved
                        <% } else{ %>
                            Please enter valid datas
                        <% } %>
                        <% 
                        if(locals.errors){    
                            errors.forEach(function(e){ 
                        %>
                            <h4 style="color:red"><%= e.path + " " + e.message %></h4>
                        <% 
                            }); 
                        }
                        %>
                        </p>
                    <div class="panel-body">                        
                        <form method="POST">                         
                                <div class="form-group">
                                    <label >Name</label>
                                    <input class="form-control"  name="name" type="text" value=" <%= locals.editres ? editres.name : ' '%>" >
                                </div>                                 
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control"  name="email" type="email" value=" <%= locals.editres ? editres.email : ' '%>" >
                                </div> 
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control" name="status">
                                        <option value="1" <%= editres.status === 1 ? "selected" : '' %> >Active</option>
                                        <option value="0" <%= editres.status === 0 ? "selected" : '' %> >InActive</option>                                       
                                    </select>
                                </div>   
                                <div class="form-group">
                                    <label>Role</label>
                                    <select class="form-control" name="role">
                                        <option value="2" <%= editres.role === 2 ? "selected" : '' %> >Admin</option>
                                        <option value="1" <%= editres.role === 1 ? "selected" : '' %> >Non Admin</option>                                       
                                    </select>
                                </div> 
                                <button class="btn btn-lg btn-success btn-block" type="submit">Update</button>                           
                        </form>                        
                    </div>
                </div>
            </div>    
            <div class="col-md-5">
                <div class="login-panel panel panel-default" style="margin-top:15% !important;">
                    <div class="panel-heading">
                         <h3 class="panel-title">Please Upload Image</h3>
                    </div>
                    <div class="panel-body">  
                        <form method="POST" enctype="multipart/form-data" action="<%= baseUrl %>users/profile-image-upload/<%= editres._id %>" id="uploadForm">                          
                            <div class="form-group">
                                <label >Choose the Image</label>
                                <input name="imagefile" type="file" >
                                <input type="hidden" name="image" id="hidden" value="<%= locals.editres ? editres.image : '' %>">
                            </div>                               
                            <button class="btn btn-lg btn-success btn-block" type="submit">Update</button>   
                            <img src="<%= baseUrl%>uploads/<%= locals.editres ? editres.image : '' %>" width= "100px" height="100px" id="greatphoto" style="margin-top:10px">  
                            <span id="status1"></span>
                            <span class="error" id="error"></span> 
                            <span id="status"></span>   
                        </form>
                    </div>
                </div>
            </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7+1/js/sb-admin-2.js"></script>
    <script src="<%= baseUrl %>vendor/metisMenu/metisMenu.min.js"></script>    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>


    <script type = "text/javascript">
    var baseUrl = '<%= baseUrl %>';
    //var $table = $('#table');
    //var image = '<%= baseUrl %>uploads/<%= locals.editres ? editres.image : '' %>
        //put all the jscript files in another file and give a link here.
        $(document).ready(function () {
            $('#uploadForm').submit(function () {
                // $("#status").empty().text("File is uploading...");
                                     
                $(this).ajaxSubmit({
                    beforeSend: function (jqXHR) {
                        var currentFile = $("input[name=imagefile]").get(0).files[0];
                        //console.log(currentFile);
                        //console.log(currentFile.name);

                        var re = /(?:\.([^.]+))?$/;
                        var ext = re.exec(currentFile.name)[1];
                        //console.log(ext);
                        //console.log(currentFile.size);
                        var sz = currentFile.size;
                        var arr = ["png", "jpg", "jpeg", "gif","JPG"];
                        if (arr.includes(ext) === false) {
                            jqXHR.abort();
                            $("#status1").text("please check your image extension");
                        }
                        else if (sz > 1e+6) {
                            jqXHR.abort();
                            $("#status2").text("please upload images lessthan 1mb");
                        }
                        // if(arr.includes(ext) === false && sz > 1e+6) {
                        //     jqXHR.abort();
                        // }
                        // // jqXHR.abort();
                        // $("#status").text("file uploaded successfully");
                    },
                    error: function (xhr) {
                        status('Error: ' + xhr.status);
                    },

                    success: function (response) {
                        var n = response.image;
                        console.log(n);
                        $("#hidden").attr("value", n);
                        $("#greatphoto").attr("src", baseUrl + "uploads/" + n);
                        $("#status").empty().text("file uploaded successfully");
                    }
                });

                return false;
            });
        });
       

</script> 
</body>
</html>
  