<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='icon' href="<%= baseUrl %>images/download (3).png" />
    <link rel='stylesheet' href='<%=baseUrl%>stylesheets/style.css' />
    <link href="<%=baseUrl%>vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=baseUrl%>vendor/metisMenu/metisMenu.min.css" rel="stylesheet"> 
    <link href="<%=baseUrl%>dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="<%=baseUrl%>vendor/morrisjs/morris.css" rel="stylesheet">
    <link href="<%=baseUrl%>vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  </head>
  <body>    
        
  